<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} %-5level %-40logger{40} [%thread]
				%msg%n</pattern>
		</encoder>
	</appender>

	<logger name="ascelion.rest.bridge.TRAFFIC" level="OFF" />
	<logger name="ascelion.rest.bridge.tests.SERVER" level="OFF" />

	<logger name="org.glassfish.jersey" level="WARN" />
	<logger name="org.glassfish.jersey.process.internal" level="WARN" />
	<logger name="org.glassfish.jersey.client.internal" level="WARN" />
	<logger name="org.glassfish.jersey.internal.util" level="WARN" />
	<logger name="org.glassfish.jersey.server.model" level="WARN" />
	<logger name="org.glassfish.jersey.client.ClientExecutorProvidersConfigurator" level="WARN" />

	<root level="WARN">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
